<header>
  <h1>Hello {{title}}</h1>

  <p>
    Alipne + Handlebars interpolation =
    <strong x-data x-text="'{{title}}'"></strong>
  </p>

  <nav>
    <a href="/">Home</a>
    <a href="/partials/hobbies">Hobbies (Partial)</a>
  </nav>
</header>