<main>
    {{> header }}

    <button hx-get="/partials/hobbies" hx-swap="outerHTML" style="margin-top: 1em">
        Get hobbies
    </button>

    {{log 'simple log on terminal'}}

    <hr>

    {{#> dropdown button-text='Dropdown'}}
    <p>Hello {{upperCase form.name}}</p>
    {{/dropdown}}

    <hr>

    {{> form form-data=form}}

    <hr>

    {{> user/card user="Ana" }}
    {{> user/card user=form.name }}

    {{#if ok}}
    <p>It's ok</p>
    {{else}}
    <p>It's not ok</p>
    {{/if}}

    {{> footer }}
</main>