:root {
  color-scheme: light dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: underline;
}
